.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
bin/Debug/netcoreapp2.0/GameDevelopment.deps.json
bin/Debug/netcoreapp2.0/GameDevelopment.dll
bin/Debug/netcoreapp2.0/GameDevelopment.pdb
bin/Debug/netcoreapp2.0/GameDevelopment.runtimeconfig.dev.json
bin/Debug/netcoreapp2.0/GameDevelopment.runtimeconfig.json
bin/Debug/netcoreapp2.0/libe_sqlite3.so
obj/GameDevelopment.csproj.nuget.g.props
obj/GameDevelopment.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.0/GameDevelopment.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/GameDevelopment.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/GameDevelopment.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/GameDevelopment.dll
obj/Debug/netcoreapp2.0/GameDevelopment.pdb
obj/Debug/netcoreapp2.0/UserSecretsAssemblyInfo.cs
